APP_NAME="ILKOM News"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ilkom
DB_USERNAME=root
DB_PASSWORD=

GEMINI_API_KEY=
